body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
header {
  background-color: rgb(30, 142, 207);
  padding: 20px;
  text-align: center;
}
nav {
  background-color: rgb(219, 206, 86);
}
body {
  background-color: aliceblue;
}
footer {
  background-color: black;
  text-align: center;
}

section {
  margin-bottom: 30px;
  padding: 20px;
  border: 5px solid #ffffff;
}
nav {
  text-align: center;
  text-decoration: dotted;
}
.historia-page header {
  background-color: rgb(126, 10, 10);
}
.historia-page {
  background-color: beige;
}

.trilhas-page header {
  padding: 10px;
}
.canto {
  position: fixed;
  right: 0pt;
}
.historia-page section {
  border-color: bisque;
  border-style: double;
  position: fixed;
  left: 0px;
  font-size: medium;
  text-align: left;
  margin-left: 300px;
  margin-top: 10px;
}
form {
  background-color: #edf3f7;
  border: 2px solid #21beda;
  border-radius: 25px;

  width: 700px;
  padding: 40px;

  box-shadow: 0 8px 20px rgba(0, 47, 109, 0.15);
  margin: 50px auto;
}

form h2 {
  text-align: center;
  color: #4ddbff;
  font-size: 40px;
}

label {
  display: block;
  margin-top: 20px;

  font-size: 22px;
  font-weight: bold;
}

input,
select,
textarea {
  width: 100%;

  padding: 15px;
  margin-top: 8px;

  border: 2px solid #ddb637;
  border-radius: 12px;

  font-size: 18px;

  box-sizing: border-box;
}

button {
  width: 100%;

  margin-top: 30px;
  padding: 18px;

  background-color: #00a0bd;
  color: rgb(0, 204, 255);

  border: none;
  border-radius: 12px;

  font-size: 22px;
  cursor: pointer;
}

button:hover {
  background-color: #188ae7;
}
